[build]
builder = "DOCKERFILE"
dockerfilePath = "backend/chatbot/Dockerfile"
watchPatterns = ["backend/**"]

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
