name: Test ROS 2 Code Examples

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t ros2-test:latest -f docker/Dockerfile.ros2-humble-gazebo .

      - name: Run colcon tests
        run: |
          docker run --rm \
            -v ${{ github.workspace }}/ros2_workspace:/workspace/src/humanoid_robotics \
            ros2-test:latest \
            bash -c "
              source /opt/ros/humble/setup.bash && \
              cd /workspace && \
              colcon build --symlink-install && \
              source install/setup.bash && \
              colcon test --event-handlers console_direct+ && \
              colcon test-result --verbose
            "

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: ros2_workspace/build/*/test_results/**/*.xml